{% extends "AppFinal/padre.html" %} 

{% load static %} 

{% block contenidoQueCambia %}

    <h1>Informacion inicial de la entrevista</h1>
    <br>
    ¡Sea bienvenidos!
    <br>
    En esta primera fase de su entrvista de trabajo les haremos algunas preguntas con respecto a su vida personal, experiencia laboral, y estudios realizados.
    <br>
    Cabe recalcar que se busca nuevos trabajadores para varias areas de trabajo, desde programadores hasta ingenieros.
    <br>
    Inicie su entrevista dando click en la opcion "Personal","Estudios" y "Experiencia"
    
{% endblock %}